img {
    width: 250px;
    height: 250px;
    background-color: blue;
}

.hh{ font-weight: bold;

}

.ggg {
display: flex;
  
;
}

.ggggg {
    align-items: center;
     margin: 30px;

} 


    
